<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduction to Python: Complete Guide on History & Basics</title>
    <meta name="description" content="Complete chapter on Introduction to Python. Learn full history, why it was named Python, and a detailed breakdown of Interpreter vs Compiler.">
    <meta name="google-site-verification" content="6gJAVJGoWpSkKO0UwHmOLou4g06J_Vzm8ivFUhpkwEw" />
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}">
</head>

<body>
    <h2>What Is Programming Language ?</h2>
    <p>
        A programming language or coding language is a formal system of communication used to instruct a
        computer to perform specific tasks. Just like humans use languages like English, Hindi, or
        Spanish to talk to each other, programmers use coding languages to communicate with machines.
        Computers cannot understand human speech directly because they only process electrical signals
        represented as binary digits (0s and 1s). Programming languages act as a bridge, translating
        human logic into a format that a computer can easily interpret and execute.
    </p>
    <h2>How Programming Languages Work ?</h2>
    <p>
        When a programmer writes instructions, it is called source code. This code is written using
        predefined grammatical rules, keywords, and specific symbols called syntax. Because computers
        only understand machine code, software called a compiler or interpreter translates the source
        code into binary. Once translated, the computer reads the instructions sequentially and executes
        the required tasks, such as displaying an image, calculating numbers, or saving a file.
    </p>
    <h2>Main Types of Programming Languages</h2>
    <p>
        Programming languages are broadly divided into two major levels: <br>
        <strong>1. High-Level Languages : </strong> These languages are user-friendly, written in plain
        English-like text, and very easy for humans to read. Examples include Python, Java, and
        JavaScript. They are used for building modern apps, websites, and artificial intelligence
        systems. <br>
        <strong>2. Low-Level Languages :</strong> : These are closer to the actual computer hardware and
        machine code. Examples include Assembly language. They provide precise control over computer
        memory but are incredibly difficult for humans to write and understand.
    </p>
    <h2>Programming Paradigm</h2>
    <p>
        A programming paradigm is a style or way of thinking used to write computer programs. It is a
        blueprint for organizing and structuring your code to solve problems.
        Instead of being a specific language, it is an approach. Many modern languages (like Python and
        JavaScript) allow you to mix and use different paradigms.
        <br> Here are the main types of programming paradigms :
    </p>
    <p>
        <strong>1. Procedural Programming :</strong> Code is written as a sequence of top-down
        instructions and functions (e.g., C, Pascal). <br>
        <strong>2. Object-Oriented Programming (OOP) : </strong> Code organizes data and behavior into
        real-world structures called Objects (e.g., Java, C++).

    </p>
    <h2>What is Python ?</h2>
    <p>
        For your information, Python is a high-level, interpreted, general-purpose programming language,
        which is used to develop mobile applications, websites, softwares, etc. <br>
        1. Interpreted means that Python programs/codes written in Python language are executed line by
        line. <br>
        2. General-purpose programming language simply means – a computer language that can be used to
        create almost any kind of software and work. It is not bound to any one specific task. <br>
        3. High-level Language: It means that Python code is very close to the language understood by
        humans (simple English). To write and read it, you do not need to understand the binary language
        (0 and 1) of the computer. <br>
        Python language is also an object-oriented programming language like C language, which means
        that the speed of Python language is very fast and it is free to create real-life projects.
        In simple words, Python is a modern computer language that allows to do even the most complex
        technical tasks in a very straightforward, clean and easy way. Today it has become the most
        favorite language of programmers and big tech companies around the world.
    </p>
    <hr>
    <h2>History And Evolution Of Python</h2>
    <p>
        The history and evolution of the Python programming language is one of the most fascinating
        stories in the world of computer science. What began as a simple hobby project has now become
        one of the world's most powerful and popular programming languages. Let's explore its journey
        from its inception to the present day in detail.
    </p>
    <b>1. The origins and background of Python (1980s)</b>
    <p>
        Python originated in the late 1980s. It was developed by Guido van Rossum, a Dutch programmer
        working at the Centrum Wiskunde & Informatica (CWI) in the Netherlands. <br>
        Guido van Rossum was working on a programming language called 'ABC' at the time. ABC was very
        simple and designed to be taught to non-programmers, but it had some technical shortcomings,
        such as being difficult to extensible and lacking exception handling. Guido wanted to create a
        language that was as easy to learn as ABC, but also had powerful capabilities like C and Unix
        shell scripting.
    </p>
    <b>2. The birth of Python and its first official release (1989–1991)</b>
    <p>
        During the Christmas holidays in December 1989, Guido van Rossum had no major work. He decided
        to use his time and work on a new project. He began writing an interpreter for a new scripting
        language, a successor to the ABC language. This project became what we know today as Python.
        <br>
        After nearly a year of hard work, Guido released the first official version of Python (Version
        0.9.0) as source code in February 1991. This initial version included object-oriented
        programming (OOP), classes, functions, and core data types (such as lists, dictionaries, and
        strings).
    </p>
    <b>3. The unique story behind the name (Why the name 'Python'?)</b>
    <p>
        Many people think the language is named "Python" after the dangerous python snake, but that's
        not the case at all. In fact, Guido van Rossum loved watching "Monty Python's Flying Circus," a
        popular British comedy show from the 1970s. <br>
        He wanted a name for his new language that was short, a little mysterious, and unique. So he
        stole the word "Python" from the show's title and named his language "Python."
    </p>
    <b>4. Python 1.0 and its development (1994)</b>
    <p>
        In January 1994, the first major version of Python, Python 1.0, was released. This version added
        many new and important features that promoted functional programming. It included modern tools
        like lambda, map, filter, and reduce, which are still very popular among developers today. In
        1995, Guido van Rossum continued his work at the Corporation for National Research Initiatives
        (CNRI) in the US, where he released several more subversions of Python.
    </p>
    <b>5. Python 2.0: The Age of Community and Modernity (2000)</b>
    <p>
        Python 2.0 was released in October 2000. This marked a major turning point in Python's history.
        The open-source community played a significant role in the development of this version. Python
        2.0 introduced several significant features: <br>
        <b>1. Garbage Collection :</b> A cyclic garbage collector was added to automatically clean up
        memory. <br>
        <b>2. List Comprehensions :</b> This feature was introduced to make code shorter and more
        beautiful. <br>
        <b>3. Unicode Support :</b> Characters from various languages ​​around the world were supported.
    </p>
    <p>
        After this version, Python began to become a mainstream language among software developers
        worldwide.
    </p>
    <b>6. Python 3.0: A New and Difficult Beginning (2008)</b>
    <p>
        Python 3.0 (often referred to as Py3K or Python 3000) was released in December 2008. The main
        purpose of this version was to completely clean up the code errors and duplication in Python
        2.0. <br>
        A big risk was taken with Python 3.0—it was "backward incompatible." This meant that older code
        written in Python 2 could not be run directly in Python 3. For example, in Python 2, print
        "Hello" was written, whereas in Python 3, it essentially became print("Hello"). <br>
        This change caused significant difficulties for developers in the early years when converting
        their old code to the new version. Therefore, the Python community supported Python 2.0 for a
        long time (until 2020) so that companies could gradually migrate to Python 3. Today, Python 3
        has become the standard worldwide.
    </p>
    <b>7. Quitting The Godsfather (2018)</b>
    <p>
        Guido van Rossum was known within the Python community as the "Benevolent Dictator for Life"
        (BDFL). This meant that Guido always had the final say on what changes would be made to Python.
        However, in July 2018, after leading the language for nearly 30 years, Guido resigned from this
        position. Python development is now overseen by a five-member Steering Council.
    </p>
    <b>8. Current situation and future</b>
    <p>
        Today, Python continues to advance with its 3.x version. Its speed and performance are being
        significantly improved in new versions. Python has become a market leader in cutting-edge fields
        like artificial intelligence (AI), machine learning, data science, and cloud computing. From a
        simple hobby project to becoming the world's number one language, Python's journey will be
        remembered forever.
    </p>
    <hr>
    <h2>Why Learn Python Language ?</h2>
    <p>
        Why learn Python? This question is common among anyone who wants to enter the world of coding or
        technology. The simple answer is that Python is currently the most in-demand and versatile
        language
        in the world. The main reasons for learning Python are explained below :
    </p>
    <b>Advantages of Python Language</b>
    <p>
        <b>1. Interpreted Language</b> Python is an interpreted programming language. This means
        that the code in Python is executed line by line. If there is a mistake somewhere in the
        code, the interpreter stops at that very spot. <br>
        <b>2. Libraries</b> If you have to do any work, then libraries are available in Python to
        complete every task. Python libraries are one of the libraries in the world. Some libraries
        of Python language are given below. Web-development: Flask Data science: pandas Game -
        Development: Pygame <br>
        <b>3. Easy to Learn</b> Python language is easy to learn, which means that due to the
        simple syntax of Python language, it is easy to learn Python language. And coding in
        Python is also easy. <br>
        <b>4. Dynamically Typed</b> In languages ​​like C, C++, the type of variable has to be
        defined
        separately. But in Python language, the value has to be assigned to the variable, there is
        no need to define the type of variable separately. For example: a = 10
    </p>
    <b>Applications Of Python Language</b>
    <p>
        Nowadays, Python Programming Language is being used in almost all the fields. Use of Python in
        some fields is mentioned below :<br>
        <b>1. Artificial Intelligence and Machine Learning (AI & Machine Learning) :</b> Python is the
        number one choice for building today's biggest technologies like Chatbots, Face Recognition
        systems and AI models. For this, it has tools like TensorFlow and PyTorch. <br>
        <b>2. Data Science & Analytics :</b> Companies across the world make their business decisions by
        analyzing millions of GB of data. Python is most commonly used to clean, understand and create
        charts/graphs from this data. <br>
        <b>3. Web Development :</b> Python is used to build the backend (which handles the server and
        data) of large websites. For this, popular frameworks like Django and Flask are used. <br>
        <b>4. Automation & Scripting :</b> If you have a computer task that you have to perform
        repeatedly (like renaming hundreds of files daily or extracting data from the internet), a
        little Python code can automate that task in no time. <br>
        <b>5. Software and Game Testing :</b> Python automation tools are widely used to test and find
        bugs in newly developed software.
    </p>
    <b>Top Companies Using Python</b>
    <p>
        Python also dominates the practical world. The world's largest tech companies rely on Python for
        their core operations: <br>
        <b>Google:</b> Python has been one of Google's core languages ​​since the search engine's
        inception.<br>
        <b>Netflix :</b> Python is heavily used in its algorithms that recommend movies and shows to
        users based on their preferences.<br>
        <b>Instagram :</b> Instagram's entire backend is built on Python's Django framework.<br>
        <b>NASA :</b> It is used by space scientists for research, satellite data analysis, and complex
        calculations.<br>
        <b>Spotify :</b> Uses Python to improve music recommendation and radio features.
    </p>
    <hr>
    <h2>What is an interpreter?</h2>
    <p>
        Interpreter is a software which is used to run programs written in Python language. Computer
        does not understand human language. Computer understands machine language i.e. 0 and 1,
        hence
        interpreter explains the correct meaning of our programs to the computer in machine code
        (0 and 1).
    </p>
    <h2>How does an interpreter work ?</h2>
    <div class="flow-scroll-wrapper">
        <div class="smart-flow-container no-wrap-layout">
            <div class="smart-step">
                <div class="smart-card"><span class="step-num">1</span> Source Code</div>
            </div>
            <div class="smart-step">
                <div class="smart-card"><span class="step-num">2</span> Read</div>
            </div>
            <div class="smart-step">
                <div class="smart-card"><span class="step-num">3</span> Byte Code</div>
            </div>
            <div class="smart-step">
                <div class="smart-card"><span class="step-num">4</span> Output</div>
            </div>
            <div class="smart-step is-last">
                <div class="smart-card"><span class="step-num">5</span> PVM</div>
            </div>
        </div>
    </div>
    <p>
        You already know that Interpreter explains our written programs to the computer. To do this,
        Interpreter follows some steps which are defined below : - <br>
        <b>Step 1.</b> Whenever a program is written, Python Interpreter reads that code line by
        line
        and Interpreter converts that code into machine code. <br>
        <b>Step 2.</b> When Interpreter converts the code into machine code i.e. Bytecode , then it
        gives this Bytecode to PVM (Python Virtual Machine) . <br>
        <b>Step 3.</b> After this PVM executes/runs the entire code line by line and gives the
        output.
    </p>
    <h2>What is a compiler ?</h2>
    <p>
        Computer does not understand human language, it understands 0 and 1, hence to explain the
        codes /
        programs written in any programming language to the computer, an interpreter or compiler is
        used.
        Compiler is a computer program which is used to convert the programs written by us into
        machine code.
        Compiler works exactly opposite to the interpreter, that is, instead of executing the
        written programs
        line by line, the compiler reads the entire program at once.
    </p>
    <h2>How does the compiler work ?</h2>
    <div class="flow-scroll-wrapper">
        <div class="smart-flow-container no-wrap-layout">
            <div class="smart-step">
                <div class="smart-card"><span class="step-num">1</span> Source Code</div>
            </div>
            <div class="smart-step">
                <div class="smart-card"><span class="step-num">2</span> Scanner</div>
            </div>
            <div class="smart-step">
                <div class="smart-card"><span class="step-num">3</span> Semantic Analysis</div>
            </div>
            <div class="smart-step">
                <div class="smart-card"><span class="step-num">4</span> Code Generate</div>
            </div>
            <div class="smart-step is-last">
                <div class="smart-card"><span class="step-num">5</span> Machine Code</div>
            </div>
        </div>
    </div>
    <p>
        <b>1. Source Code</b> = > This is the first step in which the code is written by the
        programmer,
        that is, the source code is what the programmer writes. <br>
        <b>2. Scanner</b> = > This is the second step in which the compiler divides the source code
        into
        small parts like: int → keyword a → identifier, = → operator. If there is any spelling
        related
        mistake in this step, then the compiler gives an error. <br>
        <b>3. Syntactic Analysis</b> = > This is the third step in which the compiler checks the
        errors
        related to grammar, declared variables, etc. in the written program. If any error is found,
        the
        output of the entire program is not available. <br>
        <b>4. Generate Code</b> = > This is the fourth step of the compiler in which the compiler
        makes
        the code better and faster so that it takes less memory. <br>
        <b>5. Machine Code</b> = > This is the last step of the compiler in which after completing
        all
        the steps, the compiler converts the codes written by the programmer into machine code (0
        and 1)
        which the computer can run directly.
    </p>
    <h2>Difference between Interpreter and Compiler</h2>
    <div class="table-wrap">
        <table border="1">
            <tr>
                <th>Interpreter</th>
                <th>Compiler</th>
            </tr>
            <tr>
                <th>1. Line By Line execution</th>
                <th>1. Full Program Execution</th>
            </tr>
            <tr>
                <th>2. Execution Slow</th>
                <th>2. Execution Fast</th>
            </tr>
            <tr>
                <th>3. Direct Run</th>
                <th>3. Compile Run</th>
            </tr>
            <tr>
                <th>4. Does not generate any file.</th>
                <th>4. Generates .exe file.</th>
            </tr>
            <tr>
                <th>5. C / C++</th>
                <th>5. Python , JavaScript</th>
            </tr>
        </table>
    </div>
    <h2>What kind of language is Python ?</h2>
    <p>
        Python is an interpreted language because code execution in Python happens line by line,
        hence Python is called an interpreted language but if seen technically then Python is a
        combination of both interpreted and compiled, in such a case Interpreter does not create
        any extra file for Machine Code, whereas Compiler creates an extra file. When we write
        Python code, it is not run directly. The execution process of the written program happens
        like this. <br>
        <b>.py (source code) → bytecode (.pyc)</b> <br>
        This process is called Compilation. And .pyc file is created in the process, in this way
        Python is a compiled language. But code execution happens line by line, hence Python is both
        interpreted and compiled language. <br>
        <b>NOTE:</b> Python is neither a fully interpreted language nor a fully compiled language
        <b>Python = (Compiled + Interpreted)</b>
    </p> 
    </div>
</body>

</html>